{% extends 'master.html' %}

{% block menu %}
<div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <img id="logoimg" src="/static/assets/images/author-image.jpg" alt="" /></
            </div>
            <div class="author-content">
              <h4>Blood Bank</h4>
              <span>Give Blood, Save Life</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="/myuser/home">Home</a></li>                
                <li><a href="/myuser/request">Blood Request</a></li>
                <li><a href="/myuser/profile">Profile</a></li>
                <li><a href="/myuser/logout">Logout</a></li>
              </ul>
            </nav>
            <div class="copyright-text">
              <p>Copyright 2021 BloodBank</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}